{% extends "base.html" %}

{% block title %}
Cookie Policy - Respected FX
{% endblock title %}

{% block content %}
<section class="w-screen padding-x2 pt-24 min-h-screen">
  <h1 class="text-3xl font-bold mb-4">RespectedFX Cookie Policy</h1>

            <p class="mb-4">RespectedFX uses cookies to improve the user experience of its website. Cookies are small text files that are stored on a user's device when they visit a website. They allow the website to remember the user's actions and preferences over time, so they don't have to keep re-entering them whenever they come back to the site or browse from one page to another.</p>

            <h2 class="text-xl font-semibold mt-4 mb-2">Cookies Used on Our Website</h2>

            <p class="mb-4">We use the following Django cookies on our website:</p>

            <ul class="list-disc pl-6">
                <li><strong>sessionid:</strong> This cookie is essential for authentication and maintaining user session state.</li>
                <li><strong>csrftoken:</strong> This cookie helps to protect against cross-site request forgery attacks.</li>
                <li><strong>language:</strong> This cookie stores the user's preferred language.</li>
                <li><strong>currency:</strong> This cookie stores the user's preferred currency.</li>
                <li><strong>timezone:</strong> This cookie stores the user's preferred timezone.</li>
            </ul>

            <p class="mb-4">These cookies are necessary for the proper functioning of our website and therefore cannot be disabled. However, you can choose to disable other types of cookies in your browser settings. Please note that disabling cookies may prevent you from using some of the features on our website.</p>

            <p class="mb-4">We keep cookies for the duration of your session, or for a longer period of time if you choose to remember your preferences. You can opt out of cookies by changing your browser settings. However, this may prevent you from using some of the features on our website.</p>

            <h2 class="text-xl font-semibold mt-4 mb-2">Contact Us</h2>

            <p class="mb-4">If you have any questions about our cookie policy, please contact us at <a class="text-primary font-semibold" href="mailto:info@respectedfx.com">info@respectedfx.com</a></p>
</section>
{% endblock content %}
