<section class="py-3 bottom-0 left-0 right-0 z-50 bg-black/60 bg-blur md:hidden padding-x w-screen fixed flex items-center justify-between">
    <button onclick="buru.showModal()" class="flex text-white text-center flex-col hover:text-primary ease-in-out duration-300 items-center" href="">
      <span class="iconify w-7 h-7 block" data-icon="flat-color-icons:money-transfer"></span>
      <span class="block text-xxs">Bureau De Change</span>
    </button>
    <button onclick="fx.showModal()" class="flex text-white text-center flex-col hover:text-primary ease-in-out duration-300 items-center" href="">
      <span class="iconify w-7 h-7 block" data-icon="solar:card-transfer-bold-duotone"></span>
      <span class="block text-xxs">Intl. Transfer</span>
    </button>
    <button onclick="cry.showModal()" class="flex text-white text-center flex-col hover:text-primary ease-in-out duration-300 items-center" href="">
      <span class="iconify w-7 h-7 block" data-icon="mingcute:exchange-baht-fill"></span>
      <span class="block text-xxs">Crypto Exchange</span>
    </button>
</section>
