{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}
  {% translate "Confirm E-mail Address" %}
{% endblock head_title %}

{% block inner %}
  <h1 class="font-jost font-semibold text-3xl mb-4">{% translate "Confirm E-mail Address" %}</h1>
  {% if confirmation %}
    {% user_display confirmation.email_address.user as user_display %}
    <p>
      {% blocktranslate with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}" class="font-bold duration-300 ease-in-out hover:text-primary">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktranslate %}
    </p>
    <form class="pt-8" method="post"
          action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="btn btn-primary bg-primary/50 text-white w-full hover:bg-primary hover:text-black" type="submit">{% translate "Confirm" %}</button>
    </form>
  {% else %}
    {% url 'account_email' as email_url %}
    <p>
      {% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktranslate %}
    </p>
  {% endif %}
{% endblock inner %}
