{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Set Password" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="font-jost text-2xl mb-3 text-primary">{% translate "Set Password" %}</h1>
  <form method="post"
        action="{% url 'account_set_password' %}"
        class="password_set space-y-4">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="block bg-primary text-black btn btn-primary"
           type="submit"
           name="action"
           value="{% translate 'Set Password' %}" />
  </form>
{% endblock inner %}
