{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% translate "Password Reset" %}
{% endblock head_title %}
{% block inner %}
  <h1 class="font-jost text-2xl mb-3 text-primary">{% translate "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
  <p class="text-sm">
    {% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
  </p>
  <form method="post"
        action="{% url 'account_reset_password' %}"
        class="password_reset space-y-4">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="block w-full bg-primary text-black btn btn-primary"
           type="submit"
           value="{% translate 'Reset My Password' %}" />
  </form>
  <p class="text-sm">{% blocktranslate %}Please contact us if you have any trouble resetting your password.{% endblocktranslate %}</p>
{% endblock inner %}
